body {
    font-family: roboto, sans-serif;
    font-style: normal;
    position: relative;
    top: 100px;
}

headImg {
    position: absolute;
    top: 0;
    left: 0;
}

hello {
    position: absolute;
    font-weight: 700;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 25%;;
}

greeting {
    position: absolute;
    font-weight: 550;
    font-size: 20px;
    margin-top: 180px;
    margin-left: 25%;;
}

homeButtons {
    position: absolute;
    margin-top: 280px;
    margin-left: 25%;
}

button {
    font-family: roboto, sans-serif;
    font-style: normal;
    border-radius: 30px
}

.explore {
    height: 50px;
    width: 160px;
    font-weight: 500;
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.help {
    height: 50px;
    width: 220px;
    font-weight: 500;
    font-size: 20px;
}

a not(button) {
    position: absolute;
    margin-top: 430px;
    font-size: 14px;
}

.volunteer {
    position: absolute;
    margin-top: 370px;
    margin-left: 25%;;
} 

what {
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    right: 0;
    margin-right: 80px;
    font-size: 18px;
    font-weight: 700;
}

.headerImg {
    position: fixed;
    top: 0;
    left: 0;
    height: 110px;
}

.houseImg {
    position: absolute;
    height: 300px;
    margin-left: 52%;
    margin-top: 100px;
}

.aboutus {
    position: fixed; 
    bottom: 0;
    right: 0;
    height: 65px;
    margin-bottom: 6px;
    margin-right: 10px;
}

